
<div class="wrapper">
  <footer class="footer row">
    <div class="column column-2">
      <p>Crafted with ♥ by us in 2016</p>
      <p>#b&amp;gwed</p>
    </div>
  </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>

// hero invite
jQuery(document).ready(function($){
  var viewPortHeight = $(window).height();
  $('.hero-bg').height(viewPortHeight - 200);
  $('.hero').height(viewPortHeight - 200).css('opacity', '1');

  setTimeout(function(){
    $('.hero-bg').addClass('filter');
  }, 2000);

});

// timeline
jQuery(document).ready(function($){
  var $timeline_block = $('.cd-timeline-block');

  //hide timeline blocks which are outside the viewport
  $timeline_block.each(function(){
    if($(this).offset().top > $(window).scrollTop()+$(window).height()*0.75) {
      $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
    }
  });

  //on scolling, show/animate timeline blocks when enter the viewport
  $(window).on('scroll', function(){
    $timeline_block.each(function(){
      if( $(this).offset().top <= $(window).scrollTop()+$(window).height()*0.75 && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) {
        $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
      }
    });
  });
});


</script>
