<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>🎊⚤ Barry + Gillian's Wedding - 29/10/16 ⚤ 🎊</title>
  <meta name="description" content="We're getting married in Darver Castle, Co. Louth, Ireland on 29th September 2016. Here you'll find all the details.">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,300italic,600|Parisienne" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Prefetching -->
  {% for my_page in site.pages %}
    <link rel="prefetch" href="{{ my_page.url | prepend: site.baseurl }}" />
  {% endfor %}

</head>
