<header class="row header">

  <div class="column">
    <span class="header__title">
      <a class="h-card header__link" href="{{ site.url }}">B &amp; G</a>
    </span>

  </div>

  <div class="primary-nav-wrap">
    <nav class="primary-nav js-primary-nav column">

      <span class="primary-nav__label">Main Menu:</span>

      <div class="nav-wrap">
        {% assign url = page.url|remove:'index.html' %}
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <div class="primary-nav__item">

            {% if url == my_page.url %}
              <span class="is-selected">{{ my_page.title }}</span>
            {% else %}
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              <span class="link-arrow">&rarr;</span>
            {% endif %}

          </div>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
  <div class="nav-icon js-nav-trigger">
    <div class="nav-icon__wrap">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</header>
