<header class="row header">

  <div class="column">
    <span class="header__title">
      <a class="h-card header__link" href="{{ site.url }}">
        <img style="max-width:125px" src="/logo.svg" alt="Barry &amp Gillian Wedding logo">
      </a>
    </span>

  </div>

  <div class="primary-nav-wrap">
    <nav class="primary-nav js-primary-nav column">

      <span class="primary-nav__label">Main Menu:</span>

      <div class="nav-wrap">

          <div class="primary-nav__item">
              <a href="#schedule">Schedule</a>
              <span class="link-arrow">&rarr;</span>
          </div>

          <div class="primary-nav__item">
              <a href="#location">Location</a>
              <span class="link-arrow">&rarr;</span>
          </div>

          <div class="primary-nav__item">
              <a href="#accomodation">Accomodation</a>
              <span class="link-arrow">&rarr;</span>
          </div>

          <div class="primary-nav__item">
              <a href="#rsvp">RSVP</a>
              <span class="link-arrow">&rarr;</span>
          </div>
      </div>
    </nav>
  </div>
  <div class="nav-icon js-nav-trigger">
    <div class="nav-icon__wrap">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

</header>
