.header {
  padding: $spacing-unit * 1.5 0 $spacing-unit * 3;
  margin: 0 0 $spacing-unit * 3;
  width: 100%;
  position: relative;

  &__link {
    border: 0;
    color: $light-color;
    font-family: $secondary-font-family;
    letter-spacing: -5px;
    transition: 2.5s;
    z-index: 10;
    position: relative;

    .js-nav-active & {
      color: $dark-color;
    }

    &:hover {
      border: 0;
    }
  }

  .logo-plus {
    position: relative;
    top: -4px;
  }

  &__title {
    font-size: 3rem;
    padding: 0 2rem;
    text-transform: uppercase;
    display: block;
  }

  &__strap {
    display: block;
    font-size: 2.4rem;
    color: $grey-color;
  }
}
