html,
body {
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: 0 2rem;
}

.section__header {
  margin-bottom: 3rem;
}

.for-large {
  display: none;
}


@include mq($bp-medium) {

  .wrapper {
    padding: 0;
  }

  .for-small {
    display: none;
  }

  .for-large {
    display: block;
  }
}

// Responsive Google Maps Embed
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
