html,
body {
  overflow-x: hidden;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: 0 2rem 4rem;
  position: relative;
}

.section__header {
  margin-bottom: 3rem;
  text-align: left;
  border-bottom: 2px solid $dark-color;
  padding-top: 2rem;
}

.section__image {
  margin: 1rem auto 3rem;
  display: block;
}

.for-large {
  display: none;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.button {
  margin: 3rem auto 3rem;
  display: block;
  max-width: 300px;
}


@include mq($bp-medium) {

  .wrapper {
    padding: 0;
  }

  .for-small {
    display: none;
  }

  .for-large {
    display: block;
  }
}

// Responsive Google Maps Embed
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin-bottom: 4rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
