@charset 'utf-8';

// Variables
$base-font-family: 'Raleway', sans-serif;
$base-font-size:   18px;
$base-font-weight: 200;

$secondary-font-family: 'Parisienne', cursive;

$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

$spacing-unit:     1.5rem;

$dark-color:      #3b4654;
$light-color:     #f8f8ff; // ivory
$grey-color:       #828282;

$background-color: $light-color; // navy
$highlight-color: #cb99c9;

// Width of the content area
$content-width:    960px;

// Breakpoints
$bp-small:    768px;
$bp-medium:    (calc($content-width + ($spacing-unit*2)));



@mixin mq($resolution) {
  @media screen and (min-width: $resolution) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  // Utils
  'utils/visually-hidden',
  'utils/animations',
  // Scaffolding
  'milligram',
  'base',
  'layout',
  'header',
  'footer',
  // Components
  'components/primary-nav',
  'components/timeline',
  'components/hero',
  'components/img-banner';
;

// Temp
// scss-lint:disable IdSelector
#rsvp {
  display: none;
}
