.hero-flex-wrap {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 6rem;

  > div {
    width: 100%;
  }

  .link-leader {
    bottom: 2.5rem;
  }

  .wrapper {
    padding: 0 2rem 8rem;
  }
}

.hero-wrap {
  position: relative;
  background-size: cover;
  background-position: center 0;
  min-height: 100vh;
  margin-top: 0;
  background-image: url('../images/us/hero-al.jpg');

  @media (min-width: 468px) {
    background-image: url('../images/us/hero-al.jpg');
  }

  @media (min-width: 960px) {
    background-image: url('../images/us/hero-al.jpg');
  }

  &--review {
    background-image: url('../images/b&g/Gillian_Barry335_chfc4u_c_scale,w_712.jpg');

    @media (min-width: 1200px) {
      background-image: url('../images/b&g/Gillian_Barry335_chfc4u_c_scale,w_1400.jpg');
    }
  }

  &--poem {
    background-image: url('../images/b&g/Gillian_Barry355_lpvpfw_c_scale,w_498.jpg');

    @media (min-width: 468px) {
      background-image: url('../images/b&g/Gillian_Barry355_lpvpfw_c_scale,w_717.jpg');
    }

    @media (min-width: 960px) {
      background-image: url('../images/b&g/Gillian_Barry355_lpvpfw_c_scale,w_913.jpg');
    }

    @media (min-width: 1200px) {
      background-image: url('../images/b&g/Gillian_Barry355_lpvpfw_c_scale,w_1400.jpg');
    }
  }

  .bg-tint {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba($dark-color, 0.30);
  }

  .link-leader {

    a:hover {
      color: $light-color;
    }
  }
}

.hero {
  background: rgba($light-color, 0.80);
  color: $dark-color;
  margin: auto;
  font-family: $secondary-font-family;
  text-align: center;
  padding: 2.5rem 1.5rem;
  width: 90%;
  transition: opacity 3s;
  max-width: 500px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;

  &__cta {
    width: 100%;
    margin-top: 1rem;
  }

  &__txt {
    display: block;
    text-align: center;
    letter-spacing: -1px;
    width: 100%;


    &--sm {
      font-size: 1.6rem;
      line-height: 1.5;
    }

    &--lrg {
      font-size: 2.5rem;
      line-height: 1.1;
      margin-bottom: 1.5rem;
      font-weight: 500;
    }
  }
}
