.hero-container {
  position: relative;
}

.hero-bg {
  background-size: cover;
  background-position: center;
  transition: filter 2s ease-in-out;
  margin: 0;
  width: 100%;
  margin-top: -4.5rem;
  padding-top: 6rem;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -1;
  min-height: 75vh;

  &.filter {
    filter: blur(10px);
  }
}

.hero {
  margin: 0;
  font-family: $secondary-font-family;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: $spacing-unit / 3;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: opacity 3s;

  &__txt {
    display: block;
    text-align: center;

    &--sm {
      font-size: 3rem;
    }

    &--lrg {
      font-size: 4.5rem;
    }
  }
}
