.img-banner {

  height: 500px;
  background-color: $light-color;
  margin-top: 5rem;

  &--darver {
    background-image: url('../banner-darver.jpg');
    background-position: center;
    background-size: cover;
  }
}
