.img-banner {

  height: 500px;
  background-color: $light-color;
  background-position: center;
  background-size: cover;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &--one {
    background-image: url('../banner-lights.jpg');
  }

  &--two {
    background-image: url('../banner-flowers.jpg');
  }

  &--three {
    background-image: url('../banner-drive.jpg');
  }

  &--four {
    background-image: url('../banner-sign.jpg');
  }

  &--five {
    background-image: url('../banner-lights.jpg');
  }
}
