// Default primary nav behaviour
.primary-nav {
  background: $light-color;
  color: $background-color;
  width: 100%;
  padding: 3rem 1rem;
  margin: 2rem -2rem;
  position: relative;
  z-index: 9;

  &__label {
    @include visuallyhidden;
  }

  &__item {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: $dark-color;
      border-bottom: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .link-arrow {
      position: relative;
      top: 2px;
    }

    .is-selected {
      color: $grey-color;
    }
  }
}

// JS enhanced menu

.primary-nav-wrap {
  max-height: 0;
  transition: all 1s;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.js-primary-nav {
  padding: 3rem 1rem;
  margin: 0;
}

.js-nav-active {

  .primary-nav-wrap {
    max-height: 100%;
  }
}

.nav-wrap {
  position: relative;
}

.nav-icon {
  position: absolute;
  top: 2rem;
  right: 0;
  height: 5rem;
  width: 5rem;
  padding: 0 1rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;

  &__wrap {
    position: relative;
    top: 1.25rem;
  }

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $light-color;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    margin: auto;
    display: inline-block;
    z-index: 1;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }

    &:nth-child(4) {
      top: 18px;
    }
  }
}

.nav-icon.open span {
  background-color: $background-color;
}

.nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
