.cd-container {
  margin: 10rem auto;

  &::after {
    @extend %clearfix;
  }
}

.cd-date {
  display: block;
  float: none;
  width: 100%;
}

.cd-container {
  position: relative;

  &::before {
    content: ' ';
    width: 20px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 10px;
    background: darken($light-color, 5%);

    @include mq($bp-medium) {
      left: 50%;
      margin-left: -10px;
    }
  }

  &::after {
    content: ' ';
    width: 20px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 9px;
    background: darken($light-color, 5%);

    @include mq($bp-medium) {
      left: 50%;
      margin-left: -10px;
    }
  }
}

.cd-timeline {
  position: relative;
  padding: 2rem 0;
  margin: 2rem 0;

  @include mq($bp-medium) {
    margin: 3rem 0;

    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }

  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: darken($light-color, 5%);
  }
}

.cd-timeline-block {
  @extend %clearfix;
  position: relative;
  margin: 2em 1em 2em 2em;

  @include mq($bp-medium) {
    margin: 14rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 10px;
  left: -36px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: darken($light-color, 50%);

  @include mq($bp-medium) {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    // scss-lint:disable VendorPrefix
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    // scss-lint:enable VendorPrefix

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      animation: cd-bounce-1 0.6s;
    }
  }

  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
}

.cd-timeline-content {
  @extend %clearfix;
  position: relative;
  margin-left: 60px;
  padding: 1em 0;
  text-align: center;

  @include mq($bp-medium) {
    margin-left: 0;
    padding: 0 0 0 1.5em;
    width: 45%;

    &::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
    }

    &:nth-child(2) {
      padding: 0 0 0 1.5em;
    }

    .cd-date {
      position: absolute;
      width: 100%;
      left: 130%;
      top: 0;
    }

    .cd-timeline-block:nth-child(even) & {
      float: right;

      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
      }

      .cd-date {
        left: auto;
        right: 130%;
        text-align: centre;
      }
    }

    .cssanimations &.is-hidden {
      visibility: hidden;
    }

    .cssanimations &.bounce-in {
      visibility: visible;
      animation: cd-bounce-2 0.6s;
    }
  }

  .cd-date {
    float: left;
    padding: 0 0 0.8em;
    opacity: 0.7;
  }
}

@include mq($bp-medium) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    animation: cd-bounce-2-inverse 0.6s;
  }
}
